.logo {
  width: 40vw;
  height: auto;
  max-width: 200px;
}

.nav-link {
  @include headings-font-family;
  @extend .font-weight-bold;
  @extend .text-center;
}

.nav-item {
  display: block;
  padding: 0.5rem 1rem !important;
}

.nav-link {
  padding: 0 !important;
}

.footer-section {
  @extend .position-relative;

  &::before {
    @extend .brand-curve;

    top: -5px;
    transform: scale(-1, 1);
  }
}
